body html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

}

.class-render {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  width: 350px;
  height: 350px;
  margin: 25px;
  font-size: x-large;
  background-color: #664596;
  color: white;
  text-transform: capitalize;

}

label {
  display: block;
}